@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "UnitySans";
  src: local("UnitySans"), url("fonts/UnitySans-Basic.otf");
}
/* variables */
/* general */
.padding {
  padding: 0 100px;
}

.text {
  font-family: "UnitySans";
  font-size: 24px;
  line-height: 1.5;
  font-weight: 500;
}

.text_underline {
  text-decoration: underline;
  font-weight: 600;
}

.section__heading {
  color: #114917;
  font-size: 64px;
  font-family: "UnitySans";
  font-weight: 700;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 150px;
  overflow-x: hidden;
}

@media (max-width: 1000px) {
  .padding {
    padding: 0 50px;
  }
}
@media (max-width: 850px) {
  .section__heading {
    font-size: 50px;
  }
}
@media (max-width: 600px) {
  .section__heading {
    font-size: 35px;
  }
}
@media (max-width: 550px) {
  .padding {
    padding: 0 30px;
  }
}
@media (max-width: 450px) {
  .text {
    font-size: 20px;
  }
}
/* header */
.nav {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10000;
  background-color: #114917;
  padding: 0 100px;
  box-sizing: border-box;
}
.nav .nav__logo {
  width: 90px;
  height: 90px;
  background-image: url(../public/img/logo_no-bg.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.nav .nav__info {
  display: flex;
  height: 100px;
  align-items: center;
}
.nav .nav__info ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav .nav__info ul li {
  font-family: "UnitySans";
  margin-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav .nav__info ul li a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
}

.language-toggle {
  width: 75px;
  height: 40px;
  background-color: #FAF4D1;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
  box-sizing: border-box;
  transition: background-color 0.3s;
}

.toggle-slider {
  width: 35px;
  height: 35px;
  background-color: #6C4320;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #FFFFFF;
  position: absolute;
  transition: all 0.3s ease;
}
.toggle-slider.english {
  left: 4px;
}
.toggle-slider.ukrainian {
  left: calc(50% - 2px);
}

.header {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  background-color: #114917;
  color: #FFFFFF;
}
.header .header__info {
  width: 100%;
  height: calc(100vh - 120px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .header__info .header__text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 55%;
  height: 65%;
}
.header .header__info .header__text .heading {
  color: #FFFFFF;
  font-size: 90px;
  font-family: "UnitySans";
  font-weight: 700;
}
.header .header__slider {
  width: 45%;
  height: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav__button {
  display: block;
  width: 170px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F99605;
  border-radius: 25px;
  box-shadow: inset -4px -2px 6px rgba(0, 0, 0, 0.25);
}
.nav__button:hover {
  transition: 0.5s;
  width: 170px;
  height: 60px;
  box-shadow: inset 4px 2px 6px rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
  background-color: #F99605;
  padding: 0px;
  font-size: 1.2em;
  background-color: #CE7B02;
}

.nav__link:hover {
  padding: 15px;
  background-color: #73AF0E;
  color: #FAF4D1;
  transition: 0.5s;
  border-radius: 25px;
}

.swiper {
  width: 400px;
  height: 550px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  box-sizing: border-box;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.swiper-slide:nth-child(1n) {
  background-image: url(../public/img/header/7.jpg);
}
.swiper-slide:nth-child(2n) {
  background-image: url(../public/img/header/1.jpg);
}
.swiper-slide:nth-child(3n) {
  background-image: url(../public/img/header/2.jpg);
}
.swiper-slide:nth-child(4n) {
  background-image: url(../public/img/header/3.jpg);
}
.swiper-slide:nth-child(5n) {
  background-image: url(../public/img/header/4.jpg);
}
.swiper-slide:nth-child(6n) {
  background-image: url(../public/img/header/5.jpg);
}
.swiper-slide:nth-child(7n) {
  background-image: url(../public/img/header/6.jpg);
}
.swiper-slide:nth-child(8n) {
  background-image: url(../public/img/header/8.jpg);
}
.swiper-slide:nth-child(9n) {
  background-image: url(../public/img/header/9.jpg);
}
.swiper-slide:nth-child(10n) {
  background-image: url(../public/img/header/10.jpg);
}

@media (max-width: 1390px) {
  .header .header__info .header__text .heading {
    font-size: 70px;
  }
}
@media (max-width: 1300px) {
  .header .header__info .header__text {
    height: 50%;
    width: 50%;
  }
  .header .header__slider {
    width: 35%;
  }
}
@media (max-width: 1200px) {
  .swiper {
    width: 350px;
    height: 500px;
  }
  .header .header__info .header__text {
    width: 55%;
  }
}
.navBurger {
  display: none;
}

@media (max-width: 1150px) {
  .swiper {
    width: 300px;
    height: 450px;
  }
  .header .header__info .header__text {
    width: 60%;
  }
  .nav {
    display: none;
  }
  .navBurger {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10000;
    background-color: #114917;
    padding: 0 100px;
    box-sizing: border-box;
  }
  .navBurger .burgerButton {
    justify-self: flex-end;
  }
  .navBurger .navBurger__logo {
    width: 90px;
    height: 90px;
    background-image: url(../public/img/logo_no-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .navBurger .burgerButton {
    font-size: 50px;
    background: none;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    width: 56px;
    height: 63px;
  }
  .navBurger .navBurger__items {
    width: 100%;
    height: calc(100dvh - 100px);
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 100px;
    left: 0;
    background-color: #114917;
    z-index: 9999;
  }
  .navBurger .navBurger__items.show {
    display: flex;
  }
  .navBurger .navBurger__items li {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navBurger .navBurger__items li .text {
    color: #FFFFFF;
    text-decoration: none;
  }
}
.headerAdaptive {
  display: none;
}

@media (max-width: 1100px) {
  .header {
    display: none;
  }
  .headerAdaptive {
    width: 100%;
    height: 100dvh;
    background-color: #114917;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: relative;
  }
  .headerAdaptive .headerAdaptive__info {
    padding: 0 100px;
    height: auto;
    z-index: 1000;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .headerAdaptive .headerAdaptive__info .text {
    color: #FFFFFF;
    margin-top: 30px;
  }
  .headerAdaptive .headerAdaptive__info .heading {
    color: #FFFFFF;
    font-size: 90px;
    font-family: "UnitySans";
    font-weight: 700;
  }
  .headerAdaptive .swiper {
    width: 100%;
    height: 100%;
    border-radius: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
  .headerAdaptive .swiper .swiper-slide {
    border-radius: 0;
    filter: grayscale(30%) brightness(60%);
  }
}
@media (max-width: 1000px) {
  .navBurger {
    padding: 0 50px;
  }
  .headerAdaptive .headerAdaptive__info {
    padding: 0 50px;
  }
}
@media (max-width: 850px) {
  .navBurger {
    height: 70px;
  }
  .navBurger .navBurger__logo {
    width: 60px;
    height: 60px;
  }
  .navBurger .navBurger__items {
    height: calc(100dvh - 70px);
    top: 70px;
  }
}
@media (max-width: 755px) {
  .headerAdaptive .headerAdaptive__info .heading {
    font-size: 60px;
  }
}
@media (max-width: 600px) {
  .headerAdaptive .headerAdaptive__info .heading {
    font-size: 45px;
  }
}
@media (max-width: 550px) {
  .navBurger {
    padding: 0 30px;
  }
  .headerAdaptive .headerAdaptive__info {
    padding: 0 30px;
  }
  /* MASCOT is all*/
}
.scrollingText {
  width: 100%;
  height: 70px;
  background-color: #FAF4D1;
  display: flex;
  align-items: center;
  font-size: 35px;
  letter-spacing: 15px;
  font-family: "UnitySans";
}
.scrollingText .marquee {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  gap: 0rem;
}
.scrollingText .marquee span {
  display: inline-block;
  animation: marquee 20s linear infinite;
  margin-right: 40px;
  z-index: 10000;
  padding: 5px 0;
  box-sizing: border-box;
}
.scrollingText .marquee span::-moz-selection {
  background: none;
}
.scrollingText .marquee span::selection {
  background: none;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
/* about */
.about {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about .about__text {
  width: 45%;
}
.about .about__text .text {
  margin-top: 50px;
}
.about .about__cards {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  grid-row-gap: 20px;
}
.about .about__cards .about__element {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}
.about .about__cards .about__element div {
  width: 165px;
  height: 165px;
  border-radius: 50%;
  background-color: #73AF0E;
}
.about .about__cards .about__element a {
  color: #000;
}

@media (max-width: 1200px) {
  .about .about__text {
    width: 100%;
  }
  .about .about__cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
}
@media (max-width: 850px) {
  .about .about__cards .swiper {
    width: 100%;
    height: auto;
    padding-bottom: 10px;
    box-sizing: content-box;
  }
  .about .about__cards .swiper .swiper-pagination {
    position: relative;
    padding-bottom: 20px;
  }
  .about .about__cards .swiper .swiper-slide {
    height: auto;
    background: none;
  }
  .about .about__cards .swiper .swiper-slide .about__element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    color: #000;
  }
  .about .about__cards .swiper .swiper-slide .about__element .text {
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  .swiper-pagination-bullet {
    width: 40px;
    height: 10px;
    border-radius: 10px;
    background-color: #FAF4D1;
    opacity: 1;
    transition: background-color 0.3s;
    margin-top: 50px;
  }
  .swiper-pagination-bullet-active {
    background-color: #73AF0E;
  }
}
/* values */
.values {
  margin-top: 80px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.values .section__heading_center {
  text-align: center;
  width: 100%;
  display: inline-block;
}
.values .values__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.values .values__container div {
  width: 27%;
  height: 350px;
  margin-top: 50px;
  border-radius: 25px;
  border: 2px solid #6C4320;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: 0.5s;
  padding: 30px;
  cursor: pointer;
}
.values .values__container div .values__info {
  text-align: center;
  display: none;
}

.values .swiper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
}
.values .swiper .swiper-slide {
  color: #000;
  background: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.values .swiper .swiper-slide .value-block {
  width: 80%;
  height: 80%;
  border-radius: 25px;
  border: 3px solid #6C4320;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  cursor: pointer;
}
.values .swiper .swiper-slide .value-block .img {
  border-radius: 25px;
}
.values .swiper .swiper-slide .value-block .text {
  text-align: center;
  margin-top: 30px;
}

@media (max-width: 1200px) {
  .values .values__container div {
    width: 40%;
  }
}
/* participants */
.participants {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.participants .swiper2 {
  display: none;
}
.participants .swiper {
  width: 30%;
  height: 300px;
  margin: 0;
}
.participants .swiper .swiper-slide {
  border-radius: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.participants .participants__info {
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
.participants .participants__info .participants__bullet {
  width: 43%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.participants .participants__info .participants__bullet:nth-child(2n) {
  margin-left: 30px;
}
.participants .participants__info .participants__bullet:nth-child(3n) {
  margin-left: 50px;
}
.participants .participants__info .participants__bullet:nth-child(4n) {
  margin-left: 30px;
}
.participants .participants__info .participants__bullet div {
  width: 80px;
  height: 80px;
  background-color: #FAF4D1;
  border-radius: 50%;
}
.participants .participants__info .participants__bullet .text {
  display: inline-block;
  display: flex;
  align-items: center;
  width: calc(100% - 40px);
  position: relative;
  top: -50px;
  left: 40px;
}

@media (max-width: 1300px) {
  .participants .participants__info {
    width: 60%;
    justify-content: space-between;
  }
  .participants .participants__info .participants__bullet:nth-child(3n), .participants .participants__info .participants__bullet:nth-child(4n), .participants .participants__info .participants__bullet:nth-child(2n) {
    margin-left: 0;
  }
  .participants .participants__info .participants__bullet {
    width: 48%;
  }
  .participants .swiper {
    width: 35%;
  }
}
@media (max-width: 1200px) {
  .participants .participants__info {
    width: 100%;
    justify-content: flex-start;
  }
  .participants .participants__info .participants__bullet {
    width: 40%;
  }
  .participants .participants__info .participants__bullet:nth-child(3n) {
    margin-left: 20%;
  }
  .participants .swiper {
    display: none;
  }
  .participants .swiper2 {
    display: block;
    width: 100%;
    height: 300px;
    margin-top: 50px;
  }
}
@media (max-width: 850px) {
  .participants .participants__info .participants__bullet {
    width: 45%;
  }
  .participants .participants__info .participants__bullet:nth-child(3n) {
    margin-left: 10%;
  }
}
@media (max-width: 700px) {
  .participants .participants__info .participants__bullet {
    width: 50%;
  }
  .participants .participants__info .participants__bullet:nth-child(3n) {
    margin-left: 0;
  }
  .participants .participants__info .participants__bullet .text {
    height: auto;
  }
}
@media (max-width: 650px) {
  .participants .participants__info .participants__bullet {
    width: 100%;
  }
}
/* accomodations */
.padding_accomodations {
  background-color: #114917;
}

.accomodations {
  margin-top: 50px;
  color: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 50px;
}
.accomodations .swiper1participants {
  display: flex;
  justify-self: flex-end;
  align-self: center;
}
.accomodations .accomodations__bullets {
  width: 40%;
  margin-top: 50px;
}
.accomodations .accomodations__bullets div {
  width: 100%;
  display: flex;
  margin-top: 30px;
}
.accomodations .accomodations__bullets div:first-child {
  margin-top: 0;
}
.accomodations .accomodations__bullets div .bullet {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #73AF0E;
}
.accomodations .accomodations__bullets div .text {
  width: calc(100% - 80px);
  margin-left: -40px;
  margin-top: 30px;
}

.accomodations .swiper2participants {
  display: none;
}

@media (max-width: 1300px) {
  .accomodations .accomodations__bullets {
    width: 50%;
  }
  .accomodations .swiper {
    width: 40%;
  }
}
@media (max-width: 1050px) {
  .accomodations .swiper1participants {
    display: none;
  }
  .accomodations .swiper2participants {
    display: block;
    width: 100%;
    height: 300px;
    margin-top: 50px;
  }
  .accomodations .accomodations__bullets {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .accomodations .accomodations__bullets div {
    width: 48%;
    margin-top: 0;
  }
  .accomodations .accomodations__bullets div:nth-child(3n) {
    margin-top: 50px;
  }
  .accomodations .accomodations__bullets div:nth-child(4n) {
    margin-top: 50px;
  }
}
@media (max-width: 850px) {
  .accomodations .accomodations__bullets div {
    width: 100%;
    margin-top: 30px;
  }
  .accomodations .accomodations__bullets div:nth-child(3n) {
    margin-top: 30px;
  }
  .accomodations .accomodations__bullets div:nth-child(4n) {
    margin-top: 30px;
  }
}
/* team */
.team {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.team .team__info {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 50px;
}
.team .team__info .team__slides {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.team .team__info .team__slides .team__photo {
  width: 80%;
  padding-bottom: 80%;
  border-radius: 50%;
  background-image: url(../public/img/placeholder.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 3px solid #6C4320;
  box-sizing: border-box;
}
.team .team__info .team__slides .text {
  margin-top: 30px;
}

/* feedback */
.feedback {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.feedback .swiper {
  width: 100%;
  margin-top: 50px;
  height: auto;
}
.feedback .swiper .swiper-button-prev:nth-child(1n) {
  display: none;
}
.feedback .swiper .swiper-button-next {
  color: #73AF0E;
  font-weight: bold;
  display: none;
}
.feedback .swiper .swiper-slide {
  width: 80%;
  background: none;
}

.feedback {
  text-align: center;
}

.slide-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  font-family: "UnitySans";
  margin-bottom: 30px;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #000;
  font-weight: normal;
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #6C4320;
  display: flex;
  align-items: center;
}

.profile-info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  width: calc(100% - 80px);
}

.profile-name {
  font-weight: normal;
  font-size: 24px;
}

.profile-details {
  font-size: 24px;
  font-family: "UnitySans";
  font-weight: normal;
}

.slide-text {
  font-size: 24px;
  color: #000;
  font-weight: normal;
  margin-top: 20px;
  line-height: 1.5;
}

.swiper-pagination-bullet {
  width: 85px;
  height: 15px;
  background-color: #FAF4D1;
  border-radius: 25px;
}

.swiper-pagination-bullet-active {
  background-color: #73AF0E;
}

.swiper-pagination-bullet.custom-bullet {
  width: 85px;
  height: 15px;
  background-color: #FAF4D1;
  border-radius: 15px;
  opacity: 100;
  margin: 0 7.5px;
}

.swiper-pagination-bullet-active.custom-bullet {
  background-color: #73AF0E;
  border-radius: 15px;
}

@media (max-width: 650px) {
  .swiper-pagination-bullet.custom-bullet {
    width: 50px;
  }
}
@media (max-width: 450px) {
  .swiper-pagination-bullet.custom-bullet {
    width: 35px;
  }
}
/* partners */
.partners {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}
.partners .partners__slider {
  margin-top: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.4);
  position: relative;
}
.partners .partners__slider .slider__items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  animation: scrolling 30s linear infinite;
  width: -moz-max-content;
  width: max-content;
  margin-right: 50px;
}
.partners .partners__slider .slider__items a {
  display: block;
  width: 150px;
  height: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.partners .partners__slider .slider__items a:nth-child(1) {
  background-image: url(../public/img/partners/brandme.png);
}
.partners .partners__slider .slider__items a:nth-child(2) {
  background-image: url(../public/img/partners/dodo.png);
}
.partners .partners__slider .slider__items a:nth-child(3) {
  background-image: url(../public/img/partners/Golosy-ditej-fond.jpg);
  background-size: 200%;
}
.partners .partners__slider .slider__items a:nth-child(4) {
  background-image: url(../public/img/partners/klei.png);
}
.partners .partners__slider .slider__items a:nth-child(5) {
  background-image: url(../public/img/partners/morshynska.jpg);
}
.partners .partners__slider .slider__items a:nth-child(6) {
  background-image: url(../public/img/partners/orner.png);
  background-size: contain;
}
.partners .partners__slider .slider__items a:nth-child(7) {
  background-image: url(../public/img/partners/zone3000.png);
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
/* faq */
.faq {
  margin-top: 50px;
}
.faq .faq__questions {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.faq .faq__questions .accordion {
  margin-top: 20px;
}

.accordion {
  display: block;
  background-color: #FFFFFF;
  border-radius: 25px;
  cursor: pointer;
  padding: 20px 30px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.2s;
  border: 2px solid #6C4320;
}

.accordion:hover {
  background-color: #FAF4D1;
}

.active {
  box-shadow: none;
}

.panel {
  padding: 0 20px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.panel .text {
  padding: 25px 5px;
}

/* footer */
.footer__padding {
  background-color: #6C4320;
}

.footer {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 30px 0;
  justify-content: space-between;
}
.footer .footer__copyright {
  width: 33%;
}
.footer .footer__logo {
  width: 100px;
  height: 100px;
  background-image: url(../public/img/logo_bg.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.footer .footer_socials {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.footer .footer_socials a {
  display: block;
  width: 40px;
  height: 40px;
  margin-left: 20px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.footer .footer_socials a:nth-child(1n) {
  background-image: url(../public/img/logos/instagram.png);
}
.footer .footer_socials a:nth-child(2n) {
  background-image: url(../public/img/logos/youtube.png);
}
.footer .footer_socials a:nth-child(3n) {
  background-image: url(../public/img/logos/facebook.png);
}
.footer .footer_socials a:nth-child(4n) {
  background-image: url(../public/img/logos/mail.png);
}
.footer .footer_socials a img {
  width: 40px;
  height: 40px;
}

.footerMobile {
  display: none;
}

@media (max-width: 650px) {
  .footer {
    display: none;
  }
  .footerMobile {
    width: 100%;
    background-color: #6C4320;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
  }
  .footerMobile .footer__logo {
    width: 90px;
    height: 90px;
    background-image: url(../public/img/logo_bg.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .footerMobile .footer__info {
    width: calc(100% - 120px);
    padding: 30px 0;
  }
  .footerMobile .footer__info .footer__copyright {
    width: 100%;
    text-align: right;
  }
  .footerMobile .footer__info .footer_socials {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 30px;
  }
  .footerMobile .footer__info .footer_socials a {
    display: block;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .footerMobile .footer__info .footer_socials a:nth-child(1n) {
    background-image: url(../public/img/logos/instagram.png);
  }
  .footerMobile .footer__info .footer_socials a:nth-child(2n) {
    background-image: url(../public/img/logos/youtube.png);
  }
  .footerMobile .footer__info .footer_socials a:nth-child(3n) {
    background-image: url(../public/img/logos/facebook.png);
  }
  .footerMobile .footer__info .footer_socials a:nth-child(4n) {
    background-image: url(../public/img/logos/mail.png);
  }
  .footerMobile .footer__info .footer_socials a img {
    width: 40px;
    height: 40px;
  }
}/*# sourceMappingURL=App.css.map */