@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* variables */
/* general */
.padding {
  padding: 0 100px;
}

.text {
  font-family: "Alata", sans-serif;
  font-size: 24px;
}

.text_underline {
  text-decoration: underline;
}

.section__heading {
  color: #114917;
  font-size: 64px;
  font-family: "Alata", sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}

/* header */
.nav {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10000;
  background-color: #114917;
  padding: 0 100px;
  box-sizing: border-box;
}
.nav .nav__logo {
  width: 100px;
  height: 100px;
  background-image: url(../public/img/logo_no-bg.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.nav .nav__info {
  display: flex;
  height: 100px;
  align-items: center;
}
.nav .nav__info ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav .nav__info ul li {
  font-family: "Alata", sans-serif;
  margin-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav .nav__info ul li a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 24px;
}

.header {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  background-color: #114917;
  color: #FFFFFF;
}
.header .header__info {
  width: 100%;
  height: calc(100vh - 120px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .header__info .header__text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  height: 80%;
}
.header .header__info .header__text .heading {
  color: #FFFFFF;
  font-size: 90px;
  font-family: "Alata", sans-serif;
}
.header .header__slider {
  width: 45%;
  height: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav__button {
  display: block;
  width: 170px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F99605;
  border-radius: 25px;
  box-shadow: inset -4px -2px 6px rgba(0, 0, 0, 0.25);
}
.nav__button:hover {
  transition: 0.5s;
  width: 170px;
  height: 60px;
  box-shadow: inset 4px 2px 6px rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
  background-color: #F99605;
  padding: 0px;
  font-size: 1.2em;
  background-color: #CE7B02;
}

.nav__link:hover {
  padding: 15px;
  background-color: #73AF0E;
  color: #FAF4D1;
  transition: 0.5s;
  border-radius: 25px;
}

.swiper {
  width: 400px;
  height: 550px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  box-sizing: border-box;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* MASCOT is all*/
}
.swiper-slide:nth-child(1n) {
  background-image: url(../public/img/header/7.jpg);
}
.swiper-slide:nth-child(2n) {
  background-image: url(../public/img/header/1.jpg);
}
.swiper-slide:nth-child(3n) {
  background-image: url(../public/img/header/2.jpg);
}
.swiper-slide:nth-child(4n) {
  background-image: url(../public/img/header/3.jpg);
}
.swiper-slide:nth-child(5n) {
  background-image: url(../public/img/header/4.jpg);
}
.swiper-slide:nth-child(6n) {
  background-image: url(../public/img/header/5.jpg);
}
.swiper-slide:nth-child(7n) {
  background-image: url(../public/img/header/6.jpg);
}
.swiper-slide:nth-child(8n) {
  background-image: url(../public/img/header/8.jpg);
}
.swiper-slide:nth-child(9n) {
  background-image: url(../public/img/header/9.jpg);
}
.swiper-slide:nth-child(10n) {
  background-image: url(../public/img/header/10.jpg);
}

.scrollingText {
  width: 100%;
  height: 70px;
  background-color: #FAF4D1;
  display: flex;
  align-items: center;
  font-size: 35px;
  letter-spacing: 15px;
  font-family: "Alata", sans-serif;
}
.scrollingText .marquee {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  gap: 1rem;
}
.scrollingText .marquee span {
  display: inline-block;
  animation: marquee 170s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
/* about */
.about {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.about .about__text {
  width: 45%;
}
.about .about__text .text {
  margin-top: 50px;
}
.about .about__cards {
  width: 50%;
  display: grid;
  grid-template-rows: 250px 250px;
  grid-template-columns: 50% 50%;
  grid-row-gap: 20px;
}
.about .about__cards .about__element {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.about .about__cards .about__element div {
  width: 165px;
  height: 165px;
  border-radius: 50%;
  background-color: #73AF0E;
}
.about .about__cards .about__element a {
  color: #000;
}

/* values */
.values {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.values .section__heading_center {
  text-align: center;
  width: 100%;
  display: inline-block;
}
.values .values__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.values .values__container div {
  width: 27%;
  height: 350px;
  margin-top: 50px;
  border-radius: 25px;
  border: 2px solid #6C4320;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: 0.5s;
  padding: 30px;
}
.values .values__container div .values__info {
  text-align: center;
  display: none;
}

/* participants */
.participants {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.participants .swiper {
  width: 30%;
  height: 300px;
  margin: 0;
}
.participants .swiper .swiper-slide {
  border-radius: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.participants .participants__info {
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
.participants .participants__info .participants__bullet {
  width: 43%;
  height: 100px;
  display: flex;
  justify-content: space-between;
}
.participants .participants__info .participants__bullet:nth-child(2n) {
  margin-left: 30px;
}
.participants .participants__info .participants__bullet:nth-child(3n) {
  margin-left: 50px;
}
.participants .participants__info .participants__bullet:nth-child(4n) {
  margin-left: 30px;
}
.participants .participants__info .participants__bullet div {
  width: 80px;
  height: 80px;
  background-color: #FAF4D1;
  border-radius: 50%;
}
.participants .participants__info .participants__bullet .text {
  display: inline-block;
  width: calc(100% - 90px);
}

/* accomodations */
.padding_accomodations {
  background-color: #114917;
}

.accomodations {
  margin-top: 50px;
  color: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 50px;
}
.accomodations .accomodations__bullets {
  width: 40%;
  margin-top: 50px;
}
.accomodations .accomodations__bullets div {
  width: 100%;
  display: flex;
  margin-top: 30px;
}
.accomodations .accomodations__bullets div:first-child {
  margin-top: 0;
}
.accomodations .accomodations__bullets div .bullet {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #73AF0E;
}
.accomodations .accomodations__bullets div .text {
  width: calc(100% - 80px);
  margin-left: -40px;
  margin-top: 30px;
}
.accomodations .accomodations__photo {
  width: 50%;
  height: 400px;
  background-image: url(../public/img/placeholder.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-self: center;
  margin-top: 50px;
}

/* team */
.team {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.team .team__info {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 50px;
}
.team .team__info .team__slides {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.team .team__info .team__slides .team__photo {
  width: 80%;
  padding-bottom: 80%;
  border-radius: 50%;
  background-image: url(../public/img/placeholder.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 3px solid #6C4320;
  box-sizing: border-box;
}
.team .team__info .team__slides .text {
  margin-top: 30px;
}

/* feedback */
.feedback {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.feedback .swiper {
  width: 100%;
  margin-top: 50px;
  height: auto;
}
.feedback .swiper .swiper-button-prev:nth-child(1n) {
  display: none;
}
.feedback .swiper .swiper-button-next {
  color: #73AF0E;
  font-weight: bold;
  display: none;
}
.feedback .swiper .swiper-slide {
  width: 80%;
  background: none;
}

.feedback {
  text-align: center;
}

.slide-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  font-family: "Alata", sans-serif;
  margin-bottom: 30px;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #000;
  font-weight: normal;
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #6C4320;
  display: flex;
  align-items: center;
  background-image: url(../public/img/placeholder.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.profile-info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  width: calc(100% - 80px);
}

.profile-name {
  font-weight: normal;
  font-size: 24px;
}

.profile-details {
  font-size: 24px;
  font-family: "Alata", sans-serif;
  font-weight: normal;
}

.slide-text {
  font-size: 24px;
  color: #000;
  font-weight: normal;
  margin-top: 20px;
  line-height: 1.5;
}

.swiper-pagination-bullet {
  width: 85px;
  height: 15px;
  background-color: #FAF4D1;
  border-radius: 25px;
}

.swiper-pagination-bullet-active {
  background-color: #73AF0E;
}

.swiper-pagination-bullet.custom-bullet {
  width: 85px;
  height: 15px;
  background-color: #FAF4D1;
  border-radius: 15px;
  opacity: 100;
  margin: 0 7.5px;
}

.swiper-pagination-bullet-active.custom-bullet {
  background-color: #73AF0E;
  border-radius: 15px;
}

/* partners */
.partners {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}
.partners .partners__slider {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.4);
}
.partners .partners__slider .slider__items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  animation: scrolling 50s linear infinite;
}
.partners .partners__slider .slider__items:hover {
  animation-play-state: paused;
}
.partners .partners__slider .slider__items a {
  display: block;
  width: 150px;
  height: 150px;
  background-image: url(../public/img/placeholder.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@keyframes scrolling {
  0% {
    transform: translateX(80%);
  }
  100% {
    transform: translateX(-20%);
  }
}
/* faq */
.faq {
  margin-top: 50px;
}
.faq .faq__questions {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.faq .faq__questions .accordion {
  margin-top: 20px;
}

.accordion {
  display: block;
  background-color: #FFFFFF;
  border-radius: 10px;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.2s;
  border: 2px solid #6C4320;
}

.accordion:hover {
  background-color: #FAF4D1;
}

.active {
  box-shadow: none;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.panel .text {
  padding: 25px;
}

/* footer */
.footer__padding {
  background-color: #6C4320;
}

.footer {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 30px 0;
  justify-content: space-between;
}
.footer .footer__copyright {
  width: 33%;
}
.footer .footer__logo {
  width: 100px;
  height: 100px;
  background-image: url(../public/img/logo_bg.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.footer .footer_socials {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.footer .footer_socials a {
  display: block;
  width: 40px;
  height: 40px;
  margin-left: 20px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.footer .footer_socials a:nth-child(1n) {
  background-image: url(../public/img/logos/instagram.png);
}
.footer .footer_socials a:nth-child(2n) {
  background-image: url(../public/img/logos/youtube.png);
}
.footer .footer_socials a:nth-child(3n) {
  background-image: url(../public/img/logos/facebook.png);
}
.footer .footer_socials a:nth-child(4n) {
  background-image: url(../public/img/logos/mail.png);
}
.footer .footer_socials a img {
  width: 40px;
  height: 40px;
}/*# sourceMappingURL=App.css.map */